tags
test.sh
.luarc.json
nvim

spell/

# You can uncomment this yourself if you want to lock the lazy-lock.json,
# but for kickstart, it makes sense to leave it ignored.

# lazy-lock.json

# Local plugin installation
.lazy/

# Mason language servers
mason/

# Temporary files
*.log
*.tmp
*.swp
*.swo

# OS files
.DS_Store

# Local sessions
Session.vim
